@model Service
@{
    string strTitle = "Edit Service";
    ViewBag.Title = strTitle;   
}
<style>
    button{
        color: #000 | important;
    }
</style>
<script src="https://cdn.tiny.cloud/1/c43s9i06o1vvni8l54o95jh6ummkm1fhflnb2idabqpn743y/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="" asp-asp-controller="" asp-action="ServiceEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated" />
            <input type="hidden" asp-for="Photo" />

            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <select asp-for="ServiceCategoryId">
                    <option value="">... choose form the list...</option>
                    @foreach (ServiceCategory entity in ViewBag.ServiceCategories){
                        <option value="@entity.Id">@entity.Title</option>

                    }
                </select>
                <span asp-validation-for="ServiceCategoryId"></span>
            </div>

            <div class="div-box">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="div-box">
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<ServiceTypeEnum>()"></select>
                <span asp-validation-for="Type"></span>
            </div>
            
            <div class="div-box">
                <label asp-for="DescriptionShort"></label>
                <input asp-for="DescriptionShort" />
                <span asp-validation-for="DescriptionShort"></span>
            </div>

            <div class="div-box">
                <label asp-for="Description"></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description"></span>
            </div>
            
            <div class="div-box">
                <label asp-for="Photo"></label>
                <input type="file" name="titleImageFile" id="titleImageFile">
                <div>
                    <img class="img-block" src="~/img/@Model.Photo">
                </div>
            </div>

            <input type="submit" value="Save" />
        </form>
    </div>
</div>

<script>
    tinymce.init({
    selector: 'textarea',
    language: 'en',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',});
    automatic_uploads: true,
    images_upload_url: '/admin/SaveEditorImg',
    images_reuse_filename: true,
    image_demisions:false,
    paste_data_images: true,
    convert_urls: false
</script>