@await Html.PartialAsync("_SidebarPartial")	
<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<!-- Content -->

		<article>
			<header class="major">
				<h2>Добро пожаловать на сайт строительной компании "Фундамент"!</h2>
				<p>Строй свое будущее месте с нами!</p>
			</header>
		</article>
		<span class="image featured"><img src="~/img/Product/product-image-6.jpg" alt="welcome" /></span>

	</div>
</div>