@await Html.PartialAsync("_SidebarPartial")	
<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<!-- Content -->

		<article>
			<header class="major">
				<h2>Welcome to the website of "UrbanGrid Builders" Construction Company!</h2>
				<p>Build your future with us!</p>
			</header>
		</article>
		<span class="image featured"><img src="~/img/Product/product-image-6.jpg" alt="welcome" /></span>

	</div>
</div>