<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Добро Пожаловать!</h2>
			</header>
			<p>
				"Фундамент" — это современная строительная компания с многолетним опытом.
				Мы реализовали сотни успешных проектов, сочетая инновационные технологии, качество и надежность.
				Наша команда профессионалов гарантирует безупречное выполнение работ и соответствие самым высоким стандартам.
				Выбирая нас, вы строите свое будущее вместе с лидерами отрасли!
			</p>
			<footer>
				<a asp-area="" asp-action="Index" asp-controller="Services" class="button icon solid fa-info-circle">Перейти до услуг</a>
			</footer>
		</section>

	</div>
</div>