<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Welcome!</h2>
			</header>
			<p>
				"UrbanGrid Builders" is a modern construction company with years of experience.
				We have completed hundreds of successful projects, combining innovative technologies, quality, and reliability.
				Our team of professionals guarantees flawless execution and adherence to the highest standards.
				By choosing us, you are building your future with industry leaders!
			</p>
			<footer>
				<a asp-area="" asp-action="Index" asp-controller="Services" class="button icon solid fa-info-circle">Перейти до услуг</a>
			</footer>
		</section>

	</div>
</div>