<div class="col-4 col-12-medium">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<header class="major">
				<h2>Вітаємо</h2>
			</header>
			<p>
				Ми команда яка розібє ваш бізнес нахуй
			</p>
			<footer>
				<a asp-area="" asp-action="Index" asp-controller="Services" class="button icon solid fa-info-circle">Перейти до послуг</a>
			</footer>
		</section>

	</div>
</div>